body {
    padding-top: 80px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

div.breadcrumbs {
    padding-left: 1em;
    padding-bottom: 5px;
}

div.well.repoDir {
    padding: 0.5em;
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05) inset;
}

pre.console {
    background-color: #111;
    color: #eee;
    border: 1px solid silver;
}

blockquote p {
    /*font-size: 13px;*/
}

input.invalid {
    border-color: #B94A48;
    color: #B94A48;
}

.btn-admin {
    background-color: #E7D785;
    background-image: -moz-linear-gradient(center top, #FFFEB8, #C49C38);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #333333;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
}

.btn-admin:hover, .btn-admin:active, .btn-admin.active {
    background-color: #C49C38;
}

div.systemMessage {
    margin-left: 1em;
    margin-right: 1em;
}
i.messageIcon {

font-size: 24px;
    float: left;
    margin-right: 0.5em;
    }
