<?xml version="1.0" encoding="utf-8" ?>
<config>
    <global>
        <backupDir>/home/jtester/backup</backupDir>
        <downloadDir>/home/jtester/downloads</downloadDir>
        <repoDir>/home/jtester/repos</repoDir>
        <httpDir url="http://dev.local">/home/jtester/srv/www/htdocs</httpDir>

        <debug>1</debug>
    </global>

    <backups>
        <backupName>JDLBackup_</backupName>
        <backupTimestamp>Y-m-d_Hi</backupTimestamp>

        <backup title="base" base="~">
            <file>.bashrc</file>
            <file>.conkyrc</file>
            <file>.gitignore</file>
            <file>.alias</file>

            <file>.kde4/share/config/plasma-desktop-appletsrc</file>
            <file>.kde4/share/config/dolphinrc</file>
            <file>.kde4/share/config/kdeglobals</file>
        </backup>

        <backup title="joomla" base="~">
            <folder>joomla</folder>
        </backup>

        <backup title="images" base="~">
            <folder>images</folder>
        </backup>

        <backup title="firefox" base="~/.mozilla/firefox">
            <file>profiles.ini</file>
            <file>y281g4zi.default/prefs.js</file>
            <file>y281g4zi.default/extensions.ini</file>
            <file>y281g4zi.default/extensions.sqlite</file>

            <folder>y281g4zi.default/extensions</folder>
            <folder>y281g4zi.default/OxygenKDE</folder>
        </backup>

        <backup title="desktop" base="~/Desktop">
            <file>Start.desktop</file>
            <file>Passwords</file>
            <folder>Scripts</folder>
        </backup>

        <backup title="bin" base="~/bin">
            <file>ide/readme.md</file>
        </backup>

        <!--
        <backup title="root-home" base="/root">
            <file>.kde4/share/apps/kate/sessions/ServerFiles.katesession</file>
        </backup>
        -->

        <backup base="~/repos" title="repos-EasyCreator">
            <folder>EasyCreator</folder>
        </backup>
        <backup base="~/repos" title="repos-lilhelpers">
            <folder>elkuku-lilhelpers</folder>
        </backup>
        <backup base="~/repos" title="repos-g11n">
            <folder>g11n</folder>
        </backup>
        <backup base="~/repos" title="repos-jacli">
            <folder>jacli</folder>
        </backup>
        <backup base="~/repos" title="repos-JDevLearn">
            <folder>JDevLearn</folder>
        </backup>
        <backup base="~/repos" title="repos-JeJoo">
            <folder>JeJoo</folder>
        </backup>
        <backup base="~/repos" title="repos-l0gvi3w">
            <folder>L0gVi3w</folder>
        </backup>
        <backup base="~/repos" title="repos-MarkdownGitWiki">
            <folder>MarkdownGitWiki</folder>
        </backup>
        <backup base="~/repos" title="repos-patchtester">
            <folder>patchtester</folder>
        </backup>
        <backup base="~/repos" title="repos-phpdox">
            <folder>phpdox</folder>
        </backup>
        <backup base="~/repos" title="repos-xml2sql">
            <folder>xml2sql</folder>
        </backup>
        <backup base="~/repos" title="repos-joomla-extension-tests">
            <folder>joomla-extension-tests</folder>
        </backup>
        <backup base="~/repos" title="repos-joomla-cms">
            <folder>joomla-cms</folder>
        </backup>
        <backup base="~/repos" title="repos-joomla-platform">
            <folder>joomla-platform</folder>
        </backup>
        <backup base="~/repos" title="repos-joomla-cms-sqlite">
            <folder>joomla-cms-sqlite</folder>
        </backup>
        <backup base="~/repos" title="repos-joomla-cms-postgre">
            <folder>joomla-cms-postgre</folder>
        </backup>
        <backup base="~/repos" title="repos-joomla-cms-testing">
            <folder>joomla-cms-testing</folder>
        </backup>
        <backup base="~/repos" title="repos-joomla-cms-joomla3-admintemplate">
            <folder>joomla3-admin-template</folder>
        </backup>
        <backup base="~/repos" title="repos-square-one-cms">
            <folder>square-one-cms</folder>
        </backup>

        <backup title="srv" base="~/srv">
            <folder>conf</folder>
            <folder>www/web_jdevlearn</folder>
            <folder>www/web_start</folder>
            <folder>www/phppgadmin</folder>
        </backup>

        <backup title="srv-data" base="~/srv">
            <folder>data/mysql/mysql</folder>
            <folder>data/mysql/phpmyadmin</folder>
        </backup>

        <backup title="jenkins-jobs" base="~/.jenkins">
            <file>jobs/Joomla CMS/config.xml</file>
            <file>jobs/Joomla CMS - Postgre TEST/config.xml</file>
            <file>jobs/Joomla CMS - SQLite TEST/config.xml</file>
            <file>jobs/Joomla CMS - System tests/config.xml</file>
	    <file>jobs/Joomla CMS Extension Test/config.xml</file>
            <file>jobs/Joomla Platform/config.xml</file>
            <folder>jobs/php-template</folder>
        </backup>

        <backup title="jenkins-plugins" base="~/.jenkins">
            <file>plugins/analysis-core.jpi</file>
            <file>plugins/ansicolor.jpi</file>
            <file>plugins/checkstyle.jpi</file>
            <file>plugins/cloverphp.jpi</file>
            <file>plugins/dry.jpi</file>
            <file>plugins/external-monitor-job.jpi</file>
            <file>plugins/git.jpi</file>
            <file>plugins/github.jpi</file>
            <file>plugins/github-api.jpi</file>
            <file>plugins/htmlpublisher.jpi</file>
            <file>plugins/jdepend.jpi</file>
            <file>plugins/ldap.jpi</file>
            <file>plugins/pam-auth.jpi</file>
            <file>plugins/plot.jpi</file>
            <file>plugins/pmd.jpi</file>
            <file>plugins/violations.jpi</file>
            <file>plugins/xunit.jpi</file>
        </backup>

        <database>jdevlearn</database>
	
        <database>joomla-cms</database>
        <database>joomla3admintemplate</database>
        <database>square-one-cms</database>

    </backups>

    <downloads>
    </downloads>

    <install>
        <application>
            <name>netbeans</name>
            <title>Netbeans</title>
            <description>The will download the Netbeans IDE for PHP development and start the installer.</description>
            <version>7.1.2</version>
            <downloadUri>http://download.netbeans.org/netbeans/%1$s/final/bundles/netbeans-%1$s-ml-php-linux.sh
            </downloadUri>
            <destPath>~/netbeans-7.1.2</destPath>
        </application>
        <application>
            <name>phpstorm</name>
            <title>Php Storm</title>
            <description>The will download and install an evaluation copy of the Jetbrains IDE for PHP development,
                valid for 30 days.
            </description>
            <version>4.0.3</version>
            <downloadUri>http://download.jetbrains.com/webide/PhpStorm-%s.tar.gz</downloadUri>
            <destPath>~/bin/ide</destPath>
            <folderName>PhpStorm</folderName>
        </application>
        <application>
            <name>eclipse</name>
            <title>Eclipse SDK Classic</title>
            <description>This will download and install Eclipse classic without plugins.</description>
            <version>4.2</version>
            <downloadUri>
                http://mirrors.xmission.com/eclipse/eclipse/downloads/drops4/R-4.2-201206081400/eclipse-SDK-4.2-linux-gtk.tar.gz
            </downloadUri>
            <fileNamex>eclipse.tar.gz</fileNamex>
            <destPath>~/bin/ide</destPath>
            <folderName>eclipse</folderName>
        </application>
        <application>
            <name>eclipsezend</name>
            <title>Eclipse Zend PDT</title>
            <description>This will download and install the Eclipse Zend edition.</description>
            <version>3.0.2 (w/ Indigo)</version>
            <downloadUri>http://www.zend.com/download/571?start=true</downloadUri>
            <fileName>eclipse-zend.tar.gz</fileName>
            <destPath>~/bin/ide</destPath>
            <folderName>eclipsezend</folderName>
        </application>
    </install>

    <updates>
        <statusExcludes>
            <!--
               <exclude>joomla-cms</exclude>
               <exclude>joomla-platform</exclude>
               <exclude>square-one-cms</exclude>
           -->
        </statusExcludes>
        <updateExcludes>

        </updateExcludes>

    </updates>

</config>
